<template>
	<tr>
		<td>
			<au-textbox
				value.one-way="data.deliveryOrder.doNo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.ePONo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.poSerialNumber"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.roNo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.deliveryOrder.paymentMethod"
				read-only="true"
				error.bind = "error.paymentMethod">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.deliveryOrder.paymentType"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-datepicker
				value.bind="data.paymentDueDate"
				read-only.bind="true">
			</au-datepicker>
		</td>
        <td>
			<au-textbox
				value.one-way="product"
				read-only="true"
                options.bind="controlOptions">
			</au-textbox>
		</td>
		<td>
			<au-numeric 
				value.bind="data.quantity" 
				read-only.bind="true" 
				format="0.00">
			</au-numeric>
		</td>
        <td>
			<au-textbox
				value.one-way="data.uomUnit.Unit"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-numeric 
				value.bind="data.pricePerDealUnit" 
				read-only.bind="true" 
				format="0.0000">
			</au-numeric>
		</td>
		<td>
			<au-numeric 
				value.bind="data.priceTotal" 
				read-only.bind="true" 
				format="0.00">
			</au-numeric>
		</td>
        <td>
			<au-textbox
				value.bind="status"
				read-only="true">
			</au-textbox>
		</td>
	</tr>
</template>