<template>
    <tr>
        <td>
            <au-textbox 
                value.bind="data.ePONo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.roNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.pRNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.pOSerialNumber" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
			<au-textbox
				value.one-way="product"
				read-only="true"
                options.bind="controlOptions">
			</au-textbox>
		</td>
        <td>
            <au-textbox 
                value.bind="doQuantity" 
                error.bind="error.doQuantity" 
                read-only.bind="true"
                options.bind="controlOptions"
                format="0.00">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.uoms.Unit" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>    
		<td>
			<au-textbox
				value.bind="pricePerDealUnit"
				read-only.bind="true"
                options.bind="controlOptions"
				format="0.0000">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.bind="totalPrice"
				read-only.bind="true"
                options.bind="controlOptions"
				>
			</au-textbox>
		</td>
    </tr>
</template>