<template replace-part="warehousesProductionOrders">
  <tr>
    <td show.bind="!readOnly">
      <au-checkbox
        value.bind="data.IsSave"
        disabled.bind="readOnly"
        change.delegate="changeCheckBox()"
      >
      </au-checkbox>
    </td>
    <td>
      <au-autocomplete
        value.bind="selectedDeliveryOrderSales"
        error.bind="error.DeliveryOrderSales"
        loader.bind="doSalesLoader"
        text="DOSalesNo"
        read-only.bind="readOnly"
        options.bind="controlOptions"
        query.bind="doSalesQuery"
      >
      </au-autocomplete>
    </td>
    <td>
      <au-autocomplete
        value.bind="selectedProductionOrder"
        error.bind="error.ProductionOrder"
        loader.bind="productionOrderLoader"
        text="OrderNo"
        read-only.bind="true"
        options.bind="controlOptions"
      >
      </au-autocomplete>
    </td>
    <td>
      <au-numeric
        value.bind="data.qtyOrder"
        format="0.00"
        read-only.bind="true"
        error.bind="error.QtyOrder"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox
        value.bind="data.construction"
        read-only.bind="true"
        error.bind="error.Construction"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.unit"
        read-only.bind="true"
        error.bind="error.Unit"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.buyer"
        read-only.bind="true"
        error.bind="error.Buyer"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.color"
        read-only.bind="true"
        error.bind="error.Color"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.motif"
        read-only.bind="true"
        error.bind="error.Motif"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-numeric
        value.bind="data.packagingQty"
        read-only.bind="true"
        error.bind="error.PackagingQty"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox
        value.bind="data.packagingType"
        read-only.bind="true"
        error.bind="error.PackagingType"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.productionOrder.type"
        read-only.bind="true"
        error.bind="error.productionOrder.type"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.grade"
        read-only.bind="true"
        error.bind="error.Grade"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.uomUnit"
        read-only.bind="true"
        error.bind="error.UomUnit"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td show.bind="!readOnly">
      <au-numeric
        value.bind="data.previousBalance"
        format="0.00"
        read-only.bind="true"
        error.bind="error.PreviousBalance"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td>
      <au-numeric
        value.bind="data.balance"
        format="0.00"
        read-only.bind="readOnly"
        error.bind="error.Balance"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
  </tr>
</template>
