<template >
    <tr>
        <td>
            <au-textbox value.bind="prNo" read-only.bind="true" error.bind="error.PRNo">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.RONo" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="product" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.DefaultQuantity"
                read-only.bind="true" 
                options.bind="controlOptions"
                format="0,000.00">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.DefaultUom.Unit"
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>                    
        </td>
        <td>
            <au-numeric 
                value.bind="data.DealQuantity"
                error.bind="error.DealQuantity"
                change.delegate="qtyChanged($event)"
                format="0.00"
                read-only.bind="options.readOnly"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete 
                value.bind="selectedDealUom" 
                error.bind="error.DealUom"
                change.delegate="selectedDealUomChanged($event)"
                loader.bind="uomLoader"
                text.bind="uomView"
                placeholder="cari satuan" 
                key="unit"
                read-only.bind="options.readOnly"
                options.bind="controlOptions">
            </au-autocomplete>                   
        </td>
        <td>
            <au-numeric 
                value.bind="quantityConversion"
                read-only.bind="true" 
                options.bind="controlOptions"
                format="0.00">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.SmallUom.Unit"
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>                    
        </td>
        <td>
            <numeric 
                value.bind="data.Conversion"
                error.bind="error.conversion"
                read-only.bind="options.readOnly"
                change.delegate="conversionChanged($event)"
                options.bind="controlOptions">
            </numeric>
        </td>
        <td if.bind="!options.readOnly">
            <numeric
                value.bind="data.PricePerDealUnit"
                error.bind="error.PricePerDealUnit"
                change.delegate="priceChanged($event)"
                read-only.bind="options.readOnly" 
                read-only.bind="options.readOnly"
                options.bind="controlOptions"
                if.bind="!options.readOnly"
                fraction="4"
                >
            </numeric>
        </td>
        <td if.bind="options.readOnly">
            <au-textbox
                value.bind="data.PricePerDealUnit"
                error.bind="error.PricePerDealUnit"
                read-only.bind="options.readOnly"
                options.bind="controlOptions"
                if.bind="options.readOnly"
                >
            </au-textbox>
        </td>
        <td show.bind="context.context.options.checkOverBudget" align="center">
            <au-checkbox 
                value.bind="data.IsOverBudget" 
                error.bind="error.IsOverBudget" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-checkbox>
        </td>
        <td show.bind="context.context.options.checkOverBudget">
            <au-textbox 
                value.bind="data.OverBudgetRemark" 
                error.bind="error.OverBudgetRemark"
                read-only.bind="options.readOnly || !data.IsOverBudget || !context.context.options.checkOverBudget"
                placeholder="tambah keterangan over budget"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <!--<td show.bind="context.context.options.isUseIncomeTax" align="center">
            <au-checkbox 
                value.bind="data.useIncomeTax" 
                error.bind="error.useIncomeTax" 
                read-only.bind="readOnly"
                change.delegate="useIncomeTaxChanged($event)"
                options.bind="controlOptions">
            </au-checkbox>
        </td>-->
        <td>
            <au-multiline 
                value.bind="data.Remark" 
                error.bind="error.Remark"
                read-only.bind="options.readOnly"
                placeholder="tambah keterangan"
                options.bind="controlOptions">
            </au-multiline>
        </td>
        <td if.bind="!options.readOnly"><button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button></td>
    </tr>
</template>