                <template >
                        <tr>
                            <th rowSpan="2" width="20%">Barang</th>
                            <th colSpan="2" width="15%">Default</th>
                            <th colSpan="2" width="20%">Deal</th>
                            <th rowSpan="2" width="5%">Konversi</th>
                            <th rowSpan="2" width="15%">Harga</th>
                            <th rowSpan="2" width="10%" if.bind="options.useVat">Include Ppn?</th>
                            <th rowSpan="2" width="15%">Ket.</th>
                        </tr>
                        <tr>
                            <th width="7%">Jumlah</th>
                            <th width="8%">Satuan</th>
                            <th width="9%">Jumlah</th>
                            <th width="11%">Satuan</th>
                        </tr>
                </template>