<template>
    <tr>
        <td width="4%">
            <au-textbox 
                value.bind="data.unitCode"
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td width="4%" if.bind="data.w1" style.bind="data.style1">
            <numeric 
                value.bind="data.w1" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w2" style.bind="data.style2">
            <numeric 
                value.bind="data.w2" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w3" style.bind="data.style3">
            <numeric 
                value.bind="data.w3" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w4" style.bind="data.style4">
            <numeric 
                value.bind="data.w4" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w5" style.bind="data.style5">
            <numeric 
                value.bind="data.w5" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w6" style.bind="data.style6">
            <numeric 
                value.bind="data.w6" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w7" style.bind="data.style7">
            <numeric 
                value.bind="data.w7" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w8" style.bind="data.style8">
            <numeric 
                value.bind="data.w8" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w9" style.bind="data.style9">
            <numeric 
                value.bind="data.w9" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w10" style.bind="data.style10">
            <numeric 
                value.bind="data.w10" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w11" style.bind="data.style11">
            <numeric 
                value.bind="data.w11" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w12" style.bind="data.style12">
            <numeric 
                value.bind="data.w12" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w13" style.bind="data.style13">
            <numeric 
                value.bind="data.w13" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w14" style.bind="data.style14">
            <numeric 
                value.bind="data.w14" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w15" style.bind="data.style15">
            <numeric 
                value.bind="data.w15" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w16" style.bind="data.style16">
            <numeric 
                value.bind="data.w16" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w17" style.bind="data.style17">
            <numeric 
                value.bind="data.w17" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w18" style.bind="data.style18">
            <numeric 
                value.bind="data.w18" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w19" style.bind="data.style19">
            <numeric 
                value.bind="data.w19" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w20" style.bind="data.style20">
            <numeric 
                value.bind="data.w20" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w21" style.bind="data.style21">
            <numeric 
                value.bind="data.w21" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w22" style.bind="data.style22">
            <numeric 
                value.bind="data.w22" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w23" style.bind="data.style23">
            <numeric 
                value.bind="data.w23" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
        <td width="4%" if.bind="data.w24" style.bind="data.style24">
            <numeric 
                value.bind="data.w24" 
                read-only.bind="true" 
                options.bind="controlOption"
                format="0">
            </numeric>
        </td>
    </tr>
</template>