<template>
    <tr if.bind="data.Category.name === 'FABRIC'">
        <td class="col-sm-1" >
            <au-textbox value.bind="data.Product.Code" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-2">
            <au-textbox value.bind="data.Product.Composition" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-1">
            <au-textbox value.bind="data.Product.Const" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-1">
            <au-textbox value.bind="data.Product.Yarn" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-0.5">
            <au-textbox value.bind="data.Product.Width" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-2">
            <au-textbox value.bind="data.Description" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-2">
            <au-textbox value.bind="data.ProductRemark" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>    
        <td class="col-sm-0.5">
            <au-textbox value.bind="quantityText" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-md-2" style="width: 50%">
            <au-multiline placeholder="Isi Keterangan" value.bind="data.Information" error.bind="error.Information" options.bind="controlOptions"
                read-only.bind="readOnly"></au-multiline>
        </td>
    </tr>
    <tr else>
        <td class="col-sm-2" >
            <au-textbox value.bind="data.Product.Code" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-2">
            <au-textbox value.bind="data.Description" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-3">
            <au-textbox value.bind="data.ProductRemark" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-sm-2">
            <au-textbox value.bind="quantityText" options.bind="controlOptions" read-only.bind="disabled"></au-textbox>
        </td>
        <td class="col-md-3" style="width: 50%">
            <au-multiline placeholder="Isi Keterangan" value.bind="data.Information" error.bind="error.Information" options.bind="controlOptions"
                read-only.bind="readOnly"></au-multiline>
        </td>
    </tr>
</template>