<template>
    <tr>
        <td>
            <au-checkbox 
                value.bind="data.Select"
                read-only.bind="readOnly">
            </au-checkbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.DispositionNoteNo"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-datepicker 
                value.bind="data.DispositionNoteDate"
                read-only.bind="true">
            </au-datepicker>
        </td>
        <td>
            <au-datepicker 
                value.bind="data.DispositionNoteDueDate"
                read-only.bind="true">
            </au-datepicker>
        </td>
        <td>
            <au-textbox
                value.bind="data.ProformaNo"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.SupplierName"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.Category"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric
                value.bind="data.VATAmount"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric
                value.bind="data.TotalPaid"
                format="0,000.0000"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric
                value.bind="data.TotalPaidPayment"
                format="0,000.0000"
                change.delegate="TotalPaidPaymentChanged($event)"
                >
            </au-numeric>
        </td>
        <td>
            <au-numeric
                value.bind="data.DiffTotalPaidPayment"
                format="0,000.0000"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-numeric
                value.bind="data.TotalPaidPaymentBefore"
                format="0,000.0000"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-textbox
                value.bind="data.CurrencyCode"
                read-only.bind="true">
            </au-textbox>
        </td>
    </tr>
    <!-- <tr show.bind="isShowing">
        <td colspan="11">
            <au-collection
                items.bind="data.Details" 
                columns.bind="columns"
                item-template="modules/expedition/payment-disposition-note/templates/detail">
            </au-collection>
        </td>  
    </tr> -->
</template>