<template>
    <tr>
        <td align='center' if.bind="options.isCreate" >
            <au-checkbox 
                value.bind="data.IsSave" 
                if.bind="options.isCreate"
                change.delegate="changeCheckBox()"
                options.bind="controlOptions">
            </au-checkbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.Product.Code"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.DesignColor"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.Size.Size"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric
                value.bind="data.Quantity"
                error.bind="error.Quantity"
                change.delegate="qtyChanged($event)"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-textbox
                value.bind="data.Uom.Unit"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.Color"
                read-only.bind="true">
            </au-textbox>
        </td>
    </tr>
</template>