<template >
    <tr>
        <td if.bind="options.type == 'CUTTING'" show.bind="!readOnly">
            <au-checkbox 
                value.bind="data.IsSave"
                disabled.bind="readOnly" 
                change.delegate="changeCheckBox()">
            </au-checkbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.Product.Code"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.DesignColor"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.Quantity"
                error.bind = "error.Quantity"
                change.delegate="qtyChanged($event)"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td>
            <au-textbox
                value="Komponen"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td if.bind="options.type == 'SEWING'">
            <au-textbox 
                value.bind="data.Size.Size"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td if.bind="options.type == 'SEWING'"> 
            <au-textbox
                value.bind="data.Color"
                read-only.bind="true">
            </au-textbox>
        </td>
    </tr>
</template>