<template>
    <ai-dialog style="width:1000px;">
        <ai-dialog-header>Detail Penerimaan</ai-dialog-header>

        <ai-dialog-body>
            <div class="row">
                <div class="col-md-6">
                    <au-textbox
                        value.bind="RONo" 
                        label="No. RO"
                        read-only.bind="true" 
                        options.bind="length4">
                    </au-textbox>
                    <au-textbox
                        value.bind="NamaBarang" 
                        label="Kategori Barang"
                        read-only.bind="true" 
                        options.bind="length4">
                    </au-textbox>
                </div>
                <div class="col-md-6">
                    <au-textbox
                        value.bind="KodeBarang" 
                        label="Kode Barang"
                        read-only.bind="true" 
                        options.bind="length4">
                    </au-textbox>
                    <au-textbox
                        value.bind="PO" 
                        label="Plan PO"
                        read-only.bind="true" 
                        options.bind="length4">
                    </au-textbox>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover" border="1" id="myTable">
                    <thead align="center">
                        <tr>
                            <td>No</td>
                            <td>Nomor Bukti</td>
                            <td>Tanggal Penerimaan</td>
                            <td>Jumlah</td>
                            <td>Satuan</td>
                            <td>Detail Barang</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="item of data">
                            <td>${$index + 1}</td>
                            <td >${item.NoBukti}</td>
                            <td >${item.ReceiptDate | dateFormat:'DD MMMM YYYY'}</td>
                            <td >${item.Qty}</td>
                            <td >${item.Uom}</td>
                            <td >${item.NamaBarang}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p> <b>Total Jumlah : ${totalQuantity}</b> </p>
        </ai-dialog-body>

        <ai-dialog-footer>
            <button click.delegate="controller.cancel()">Keluar</button>
        </ai-dialog-footer>
    </ai-dialog>
</template>