.gu-mirror {
    padding: 5px;
    background-color: #ddd;
    vertical-align: bottom;
    transition: all 0.4s ease-in-out;
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
}

#kanbanArea .list {
    border: 1px solid #ddd;
    margin-bottom: 28px;
}

#kanbanArea .btn-board {
    text-align: center;
    line-height: 50px;
    background-color: #173250;
    color: white;
    border-radius: 5px;
}

#kanbanArea .btn-board:hover {
    background-color: #214566;
}

#kanbanArea h4 {
	margin-top: 0;
}

#kanbanArea #kanbanRow .kanban__title {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
}

#kanbanArea .type-1 {
  	border-top: 5px solid #214566;
}

#kanbanArea .type-2 {
  	border-top: 5px solid #FF3D00;
}

#kanbanArea .type-3 {
  	border-top: 5px solid #29B6F6;
}

#kanbanArea .type-4 {
  	border-top: 5px solid #8BC34A;
}

#kanbanArea .kanban {
  	border-top: 5px solid #78909C;
  	width: 100%;
  	height: auto;
  	display: inline-block;
  	vertical-align: top;
  	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
 	flex-direction: column;
  	height: 500px;
  	z-index: 1;
  	position: relative;
  	background: #fff;
  	padding: 1em;
  	border-radius: 2px;
	overflow-y: auto;
	margin-bottom: 0px;
}

.kanbanTitle {
  	align-self: flex-end;
  	color: inherit;
  	display: block;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	line-height: normal;
  	overflow: hidden;
  	-webkit-transform-origin: 149px 48px;
  	transform-origin: 149px 48px;
  	margin: 0;
}

.kanbanText {
  	color: grey;
  	font-size: 12px;
  	font-weight: 400;
  	line-height: 18px;
  	overflow: hidden;
  	padding-top: 2px;
  	width: 90%;
}

.kanbanActions {
  	border-top: 1px solid rgba(0, 0, 0, .1);
  	font-size: 11px;
  	line-height: normal;
  	width: 100%;
  	color: #B0BEC5;
  	padding: 8px;
  	box-sizing: border-box;
}

.kanbanDd-item {
  	display: block;
  	margin: 5px 0;
  	padding: 5px 10px;
  	color: #333;
  	text-decoration: none;
  	font-weight: bold;
  	border: 1px solid #ccc;
  	background: #fafafa;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	box-sizing: border-box;
  	-moz-box-sizing: border-box;
}

#kanbanArea .padding-right {
	padding-right: 0;
}

#kanbanArea .kanban__box {
	background: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	margin-bottom: 28px;
	height: 50px;
}

#kanbanArea .total {
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	background: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#kanbanArea ol {
	padding-left: 0;
}

#kanbanArea .stagesBox {
	width: 500px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

/* #kanbanArea #kanbanRow {
	width: 3500px;
	height: 600px;
} */

#kanbanArea {
	overflow: auto;
}