<template>
    <tr>
        <td align='center'  class="col-sm-1">
            <au-checkbox 
                value.bind="data.IsSave" 
                
                options.bind="controlOptions"
                change.delegate="changeCheckBox()">
            </au-checkbox>
        </td>
        <!-- if.bind="options.isCreate" -->
        <td>
            <au-textbox 
                value.bind="data.no" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>                    
        </td>
    </tr>
</template>