<template >
    <tr>
        <td>
            <au-checkbox 
                value.bind="data.IsSave" 
                disabled.bind="isEdit"
                change.delegate="changeCheckBox()">
            </au-checkbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.Product.Code"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-multiline
                value.bind="data.DesignColor"
                read-only.bind="true">
            </au-multiline>
        </td>
        <td>
            <au-numeric 
                value.bind="data.PreparingRemainingQuantity"
                error.bind = "error.PreparingRemainingQuantity"
                read-only.bind="true">
            </au-numeric>                    
        </td>
        <td>
            <au-numeric 
                value.bind="data.PreparingQuantity"
                error.bind = "error.PreparingQuantity"
                >
            </au-numeric>                    
        </td>
        <td>
            <au-textbox
                value.bind="data.PreparingUom.Unit"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.CuttingInQuantity"
                error.bind = "error.CuttingInQuantity"
                format="0">
            </au-numeric>                    
        </td>
        <td>
            <au-textbox 
                value.bind="data.CuttingInUom.Unit"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="dataFC"
                read-only.bind="true">
            </au-numeric>
        </td>
    </tr>
</template>