<template>
    <tr>
        <td class="col-sm-3">
            <au-autocomplete value.bind="data.product" error.bind="error.product" loader.bind="productLoader"
                read-only.bind="true" placeholder="Kode - Nama Barang" text.bind="productView"
                query.bind="productFilter">
            </au-autocomplete>
        </td>

        <td class="col-sm-2">
            <au-numeric value.bind="data.quantity" error.bind="error.quantity" read-only.bind="readOnly">
            </au-numeric>
        </td>

        <td class="col-sm-2">
            <au-autocomplete value.bind="data.uom" error.bind="error.uom" loader.bind="uomLoader"
                read-only.bind="true" placeholder="Satuan" text.bind="uomView">
            </au-autocomplete>
        </td>
        
        <td class="col-sm-2">
            <au-numeric value.bind="data.packageQuantity" error.bind="error.packageQuantity" read-only.bind="readOnly">
            </au-numeric>
        </td>

        <td class="col-sm-2">
            <au-autocomplete value.bind="data.packageUom" error.bind="error.packageUom" loader.bind="uomLoader"
                read-only.bind="readOnly" placeholder="Satuan" text.bind="uomView">
            </au-autocomplete>
        </td>

        <td class="col-sm-2">
            <au-numeric value.bind="data.price" error.bind="error.price" read-only.bind="true">
            </au-numeric>
        </td>

        <td class="col-sm-2">
            <au-numeric value.to-view="total" read-only="true">
            </au-numeric>
        </td>

        <td class="col-sm-2">
            <au-textbox value.bind="data.remark"
                        read-only.bind="true"
                        error.bind="error.remark"
                        options.bind="controlOptions">
            </au-textbox>
        </td>
        

        <!-- <td class="col-sm-1" if.bind="!readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td> -->
    </tr>
</template>