<template>
    <tr>
        <td>
            <au-textbox value.bind="data.ProductCode" error.bind="error.ProductCode" read-only.bind="readOnly"
                placeholder="Input Kode">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.ProductName" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.QuantityPacking" read-only.bind="true" format="0,0">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.PackingUom" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="QuantityItem" read-only.bind="true" format="0,0">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.ItemUom" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.ConvertValue" read-only.bind="true">
            </au-textbox>
            <au-textbox value.bind="data.ConvertUnit" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="Price" error.bind="error.Price" read-only.bind="readOnly" format="0,0.00">
            </au-numeric>
        </td>
        <td>
            <au-numeric value.bind="getAmount" error.bind="error.Amount" read-only.bind="true" format="0,0.00">
            </au-numeric>
        </td>
    </tr>
</template>