<template>
    <tr>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamOrigin" error.bind="error.BeamOrigin" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamNumber" error.bind="error.BeamNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.StartCounter" error.bind="error.StartCounter" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.FinishCounter" error.bind="error.FinishCounter" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.MachineSpeed" error.bind="error.MachineSpeed" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.SCMPX" error.bind="error.SCMPX" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.Efficiency" error.bind="error.Efficiency" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.F" error.bind="error.F" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.W" error.bind="error.W" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.L" error.bind="error.L" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.T" error.bind="error.T" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.UomUnit" error.bind="error.UomUnit" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamUsedStatus" error.bind="error.BeamUsedStatus" read-only.bind="true">
        </au-textbox>
      </td>
    </tr>
  </template>
  