<template>
    <tr>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.BeamNumber" error.bind="error.BeamNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.TyingMachineNumber" error.bind="error.TyingMachineNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.TyingOperatorName" error.bind="error.TyingOperatorName" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.TyingGroup" error.bind="error.TyingGroup" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LoomMachineNumber" error.bind="error.LoomMachineNumber" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LoomOperatorName" error.bind="error.LoomOperatorName" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.LoomGroup" error.bind="error.LoomGroup" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.CounterPerOperator" error.bind="error.CounterPerOperator" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.DateMachine" error.bind="error.DateMachine" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.TimeMachine" error.bind="error.TimeMachine" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.ShiftName" error.bind="error.Shift" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.Information" error.bind="error.Information" read-only.bind="true">
        </au-textbox>
      </td>
      <td class="col-sm-1" style="white-space: nowrap;">
        <au-textbox value.bind="data.MachineStatus" error.bind="error.MachineStatus" read-only.bind="true">
        </au-textbox>
      </td>
    </tr>
  </template>
  