<template>
  <tr>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.BeamNumber"
                       error.bind="error.BeamNumber"
                       read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.TyingMachineNumber"
                       error.bind="error.TyingMachineNumber"
                       read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.TyingOperator"
                       error.bind="error.TyingOperator"
                       read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.TyingOperatorGroup"
                  error.bind="error.TyingOperatorGroup"
                  read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.LoomMachineNumber"
                       error.bind="error.LoomMachineNumber"
                       read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.LoomOperator"
                       error.bind="error.LoomOperator"
                       read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.LoomOperatorGroup"
                  error.bind="error.LoomOperatorGroup"
                  read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.OperationDate"
                     error.bind="error.OperationDate"
                     read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.PreparationTime"
                     error.bind="error.PreparationTime"
                     read-only.bind="true">
    </td>
    <td style="white-space: nowrap;">
      <au-textbox value.bind="data.PreparationShiftName"
                  error.bind="error.Shift"
                  read-only.bind="true">
      </au-textbox>
    </td>
    <!-- <td style="white-space: nowrap;">
      <au-textbox value.bind="data.Process"
                   error.bind="error.Process"
                   read-only.bind="true">
      </au-textbox>
    </td> -->
    <td class="col-sm-1">
      <button class="btn btn-danger pull-right"
              click.delegate="onremove(beamData, $event)" style="align-items: center;">
        Hapus
      </button>
    </td>
  </tr>
</template>
