<template>
  <tr>
    <td>
      <au-textbox value.bind="data.color" error.bind="error.color" read-only.bind="options.readOnly" options.bind="controlOption"></au-textbox>
    </td>
    <td>
      <numeric value.bind="data.price" error.bind="error.price" read-only.bind="options.readOnly" options.bind="controlOption"></numeric>
    </td>
    <td>
      <au-textbox value.one-way="data.currency.code" error.bind="error.currency" read-only.bind="true" options.bind="controlOption"></au-textbox>
    </td>
    <td if.bind="!options.readOnly">
      <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
    </td>
  </tr>
</template>