<template>
  <tr>
    <td>
      <au-textbox 
        value.bind="data.Description" 
        error.bind="error.Description" 
        read-only.bind="options.readOnly" 
        options.bind="controlOption">
    </au-textbox>
    </td>
    <td>
      <numeric 
        value.bind="data.Quantity" 
        error.bind="error.Quantity" 
        read-only.bind="options.readOnly" 
        format = "0"
        options.bind="controlOption">
    </numeric>
    </td>
    <td>
    <au-textbox 
       value.one-way="data.Uom" 
       read-only.bind="true" 
       options.bind="controlOption">
    </au-textbox>
    </td>
    <td>
      <numeric 
        value.bind="data.Price" 
        error.bind="error.Price" 
        read-only.bind="options.readOnly" 
        options.bind="controlOption">
    </numeric>
    </td>
    <td>
      <textbox 
        value.bind="data.Uom" 
        error.bind="error.Uom" 
        read-only="true" 
        options.bind="controlOption">
    </textbox>
    </td>
    <td if.bind="!options.readOnly">
      <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
    </td>
  </tr>
</template>