<template replace-part="DyeStuffReactives">
    <tr>
        <td>
            <au-textbox error.bind="error.Name" value.bind="data.Name" read-only.bind="readOnly"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.Quantity" format="0.00" read-only.bind="readOnly" error.bind="error.Quantity"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td if.bind="!options.readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>