<template>
    <tr>
        <td>
            <au-textbox 
                value.bind="data.UnitName"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.ProductName"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.Quantity"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-textbox
                value.bind="data.Uom"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-numeric
                value.bind="data.Price"
                format="0,000.0000"
                read-only.bind="true">
            </au-numeric>
        </td>
    </tr>
</template>