<template>
    <tr>
        <td  class="col-sm-3">
            <au-autocomplete 
                    value.bind="dataProduct" 
                    error.bind="error.product"
                    loader.bind="productLoader"
                    placeholder="cari barang" 
                    key="code"
                    read-only.bind="options.readOnly"
                    options.bind="controlOptions">
                </au-autocomplete>
        </td>
        <td class="col-sm-2">
                <au-numeric 
                    value.bind="data.quantity" 
                    error.bind="error.quantity"
                    read-only.bind="options.readOnly" 
                    format = "0,0.00"
                    options.bind="controlOptions">
                </au-numeric>
        </td>
        <td style="text-align:center;" class="col-sm-2">
                <au-textbox 
                    value.bind="data.product.uom.unit" 
                    read-only.bind="true" 
                    options.bind="controlOptions">
                </au-textbox>
        </td>
        <td class="col-sm-2">
                <au-textbox 
                    value.bind="data.remark" 
                    error.bind="error.remark"
                    read-only.bind="options.readOnly" 
                    placeholder="tambah keterangan" 
                    options.bind="controlOptions">
                </au-textbox>
        </td>
        <td class="col-sm-2" if.bind="!options.readOnly"><button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button></td>
    </tr>
</template>