<template>
    <tr>
        <td>
            <au-textbox 
                value.bind="data.UnitName" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.TRNo" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.ProductName" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox  
                value.bind="data.RequestedQuantity" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.DOQuantity" 
                read-only.bind="readOnly"
                error.bind="error.DOQuantity"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox  
                value.bind="data.UomUnit" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-dropdown
                items.bind="grades"
                value.bind="data.Grade"
                read-only.bind="readOnly"
                options.bind="controlOptions">
            </au-dropdown>
        </td>
        <td>
            <au-textbox  
                value.bind="data.ProductRemark" 
                read-only.bind="readOnly"
                options.bind="controlOptions">
            </au-textbox>
        </td>    
		<td if.bind="!readOnly">
			<button class="btn btn-danger pull-right" click.delegate="onremove(data)">-</button>
		</td>
    </tr>
</template>