<template>
    <tr>
        <td  class="col-sm-0" if.bind="data.isView">
            <au-checkbox 
                value.bind="data.selected" 
                options.bind="controlOptions"
                change.delegate="valueChange($event)">
            </au-checkbox>
        </td>
       
        <td  class="col-sm-3">
            <au-textbox 
                value.bind="data.doNo"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-2">
            <au-datepicker 
                value.bind="data.doDate" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-datepicker> 
        </td>
        <td class="col-sm-2">
            <au-datepicker 
                value.bind="data.arrivalDate" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-datepicker>        
        </td> 
        <!-- <td class="col-sm-2">
            <au-numeric 
                value.bind="data.quantity" 
                read-only.bind="true" 
                options.bind="controlOptions"
                format="0.0000">
            </au-numeric>
        </td> -->
        <td class="text-right">
            <require from="../../../../lib/number-format-value-converter"></require>
            ${data.quantity | numberFormat:"0,000.00"}
        </td>
        <!--<td class="col-sm-2">
            <au-numeric 
                value.bind="data.price" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>-->
        <td class="text-right">
            <require from="../../../../lib/number-format-value-converter"></require>
            ${data.price | numberFormat:"0,000.00"}
        </td>
     </tr>
</template>