<template>
    <tr>
        <td style="text-align: center important">
          <au-numeric
            value.bind="data.index"
            error.bind="error.index"
            read-only.bind="readOnly"
            format="0">
          </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="carton1"
                error.bind="error.Carton1"
                format="0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="carton2"
                error.bind="error.Carton2"
                format="0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td >
            <au-textbox
                value.bind="data.style"
                error.bind="error.Style"
                read-only.bind="readOnly">
            </au-textbox>
        </td>
        <td >
            <au-textbox
                value.bind="data.colour"
                error.bind="error.Colour"
                read-only.bind="readOnly">
            </au-textbox>
        </td>
        <td>
            <au-numeric
                value.bind="data.cartonQuantity"
                error.bind="error.CartonQuantity"
                format="0"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="data.quantityPCS"
                error.bind="error.QuantityPCS"
                format="0"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="totalQuantity"
                error.bind="error.TotalQuantity"
                format="0"
                read-only.bind="true">
            </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="grossWeight"
                error.bind="error.GrossWeight"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="netWeight"
                error.bind="error.NetWeight"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td >
            <au-numeric
                value.bind="netNetWeight"
                error.bind="error.NetNetWeight"
                read-only.bind="readOnly">
            </au-numeric>
        </td>
        <td if.bind="!readOnly" class="bg-light">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>
        <td class="col-sm-1" class="bg-light">
            <div>
                <button class="btn btn-info pull-right" if.bind= "data.sizes" click.delegate="toggle()">i</button>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="11">
            <p if.bind="error.SizesCount" class="help-block text-center" style='color:red;'>${error.SizesCount}</p>
        </td>
    </tr>
    <tr if.bind="isShowing">
        <td colspan="1" style='border:none;'>
        </td>
        <td colspan="9" style='border:none;'>
            <au-collection 
                items.bind="data.sizes" 
                errors.bind="error.Sizes" 
                columns.bind="sizesColumns"
                read-only.bind="readOnly" 
                add.bind="addSizes" 
                remove.bind="removeSizes"
                options.bind="itemOptions"
                footer-template="modules/garment-production/packing-list-items/template/detail-size-footer" 
                item-template="modules/garment-production/packing-list-items/template/detail-size" >
            </au-collection>
            <!-- <hr style="border: 5px solid #173250; border-radius: 0px 0px 5px 5px;"> -->
        </td>
        <td colspan="1" style='border:none;'>
        </td>
    </tr>
    <tr show.bind="isShowing">
        <td colspan="11">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th><label>Length</label></th>
                        <th><label>Width</label></th>
                        <th><label>Height</label></th>
                        <th><label>Qty Cartons</label></th>
                        <th><label>CBM</label></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <au-numeric value.bind="length" read-only.bind="readOnly">
                            </au-numeric>
                        </td>
                        <td>
                            <au-numeric value.bind="width" read-only.bind="readOnly">
                            </au-numeric>
                        </td>
                        <td>
                            <au-numeric value.bind="height" read-only.bind="readOnly">
                            </au-numeric>
                        </td>
                        <td>
                            <au-numeric value.bind="data.cartonQuantity" format="0" read-only="true">
                            </au-numeric>
                        </td>
                        <td>
                            <div class="form-group">
                                <p class="form-control-static text-right">${cmb}</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
<!-- 
    <tr show.bind="isShowing">
        <td colspan="1" style='border:none;'>
        </td>
        <td colspan="5">
            <au-numeric
                label= "Total Qty Size"
                value.bind="totalQtySize"
                error.bind="error.TotalQtySize"
                read-only.bind="true" >
            </au-numeric>
        </td>
        <td colspan="1" style='border:none;'>
        </td>
    </tr> -->
    
</template>
