<template>
    <tr>
        <td colspan="1" align='right'>
            <au-textbox
                label="TOTAL"
                options.bind="controlOptions"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td align='right' colspan="1">
            <au-numeric
                value.bind="totalQuantity"
                error.bind="error"
                format="0"
                read-only.bind="true">
            </au-numeric>
        </td>
        

    </tr>
</template>