<template>
  <tr>
    <td style="white-space: nowrap;">
      <au-dropdown
        placeholder="Jenis"
        value.bind="data.AvalType"
        read-only.bind="readOnly"
        items.bind="avalTypes"
        error.bind="error.AvalType"
      >
      </au-dropdown>
    </td>

    <td style="white-space: nowrap;">
      <au-textbox
        placeholder="No. Kereta"
        value.bind="data.AvalCartNo"
        read-only.bind="readOnly"
        error.bind="error.AvalCartNo"
      >
      </au-textbox>
    </td>

    <td style="white-space: nowrap;">
      <au-autocomplete
        placeholder="Satuan"
        value.bind="data.AvalUomUnit"
        read-only.bind="readOnly"
        loader.bind="uoms"
        text="Unit"
      >
      </au-autocomplete>
    </td>

    <td style="white-space: nowrap;">
      <au-numeric
        value.bind="data.AvalQuantity"
        read-only.bind="readOnly"
        error.bind="error.AvalQuantity"
      >
      </au-numeric>
    </td>

    <td style="white-space: nowrap;">
      <au-numeric
        value.bind="data.AvalQuantityKg"
        read-only.bind="readOnly"
        error.bind="error.AvalQuantityKg"
      >
      </au-numeric>
    </td>

    <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(data, $event)"
      >
        -
      </button>
    </td>
  </tr>
</template>
