<template replace-part="packagingProductionOrders">
    <tr>
        <td show.bind="!readOnly">
            <au-checkbox value.bind="data.IsSave" disabled.bind="readOnly">
            </au-checkbox>
        </td>
        <td>
            <au-textbox value.bind="data.productionOrder.no" read-only.bind="true" error.bind="error.productionOrder.no"
                options.bind="controlOptions">
            </au-textbox>
            <!-- <au-autocomplete value.bind="selectedProductionOrder" error.bind="error.ProductionOrder"
                
                 text="productionOrderNo" read-only.bind="false"
                loader.bind="productionOrderList"
                options.bind="controlOptions">
            </au-autocomplete> -->
        </td>
        <td>
            <au-numeric value.bind="data.qtyOrder" format="0.00" read-only.bind="true" error.bind="error.QtyOrder"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.cartNo" read-only.bind="readOnly" error.bind="error.cartNo"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.construction" read-only.bind="true" error.bind="error.Material"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.productTextile.name" read-only.bind="true" error.bind="error.productTextile.name"
                options.bind="controlOptions">
            </au-textbox>
        </td>

        <td>
            <au-textbox value.bind="data.unit" read-only.bind="true" error.bind="error.Unit"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.buyer" read-only.bind="true" error.bind="error.Buyer"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.color" read-only.bind="true" error.bind="error.Color"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.motif" read-only.bind="true" error.bind="error.Motif"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.avalType" read-only.bind="true" error.bind="error.AvalType"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.uomUnit" read-only.bind="true" error.bind="error.UomUnit"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.inputQuantity" format="0.00" read-only.bind="true" error.bind="error.InputQuantity"
                options.bind="controlOptions">
            </au-numeric>
        </td>

        <td>
            <au-textbox value.bind="data.area" read-only.bind="true" error.bind="error.Area"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.machine" read-only.bind="true" error.bind="error.Machine"
                options.bind="controlOptions">
            </au-textbox>
        </td>
    </tr>
</template>