<template>
	<tr>
		<td colspan="6" align='right'>
			<au-textbox label="TOTAL" options.bind="controlOptions" read-only.bind="true">
			</au-textbox>
		</td>
		<td align='right' colspan="1">
			<au-numeric value.bind="totalAmountIDR" error.bind="error" read-only.bind="true">
			</au-numeric>
		</td>
		<td align='right' colspan="1">
			<au-numeric value.bind="totalAmountC2A" error.bind="error" read-only.bind="true">
			</au-numeric>
		</td>
		<td align='right' colspan="1">
			<au-numeric value.bind="totalAmountC2B" error.bind="error" read-only.bind="true">
			</au-numeric>
		</td>
		<td align='right' colspan="1">
			<au-numeric value.bind="totalAmountC2C" error.bind="error" read-only.bind="true">
			</au-numeric>
		</td>
		<td align='right' colspan="1">
			<au-numeric value.bind="totalAmountC1A" error.bind="error" read-only.bind="true">
			</au-numeric>
		</td>
		<td align='right' colspan="1">
			<au-numeric value.bind="totalAmountC1B" error.bind="error" read-only.bind="true">
			</au-numeric>
		</td>
	</tr>
</template>