<template>
	<tr>
        <td>
            <au-checkbox 
                value.bind="data.IsSave"
                disabled.bind="readOnly || data.isDO"
                change.delegate="changeCheckBox()">
            </au-checkbox>
        </td>
		<td>
			<au-textbox
				value.one-way="product"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-multiline
				value.bind="data.ProductRemark"
				error.bind="error.ProductRemark"
				read-only.bind="true">
			</au-multiline>
		</td>
		<td>
			<au-numeric
				value.bind="data.Quantity"
				read-only="true"
				error.bind="error.Quantity">
			</au-numeric>
		</td>
		<td>
			<au-textbox
				value.one-way="data.UomUnit"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-numeric
				value.bind="leftOverQty"
				read-only="true">
			</au-numeric>
		</td>
		<td>
			<au-textbox
				value.one-way="data.UomUnit"
				read-only="true">
			</au-textbox>
        </td>
        <td if.bind="options.Qty">
            <au-numeric
                value.bind="data.CorrectionQuantity"
				read-only.bind="readOnly"
				format="0.0000"
				error.bind="error.CorrectionQuantity"
				change.delegate="qtyChanged($event)">
            </au-numeric>
        </td>
        <td if.bind="options.Qty">
            <au-textbox
                value.one-way="data.UomUnit"
                read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.Conversion"
				read-only.bind="true"
				show.bind="options.Qty"
                options.bind="controlOptions">
			</au-textbox>
			
			<au-textbox 
                value.bind="data.CorrectionConversion"
                error.bind="error.CorrectionConversion"
                change.delegate="conversionChanged($event)"
				read-only.bind="readOnly || data.isDO"
				show.bind="!options.Qty"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="SmallQuantity"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete 
                value.bind="data.SmallUomUnit" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-autocomplete>                   
        </td>
        
		<td>
			<au-multiline
				value.bind="data.DesignColor"
				error.bind="error.DesignColor"
				read-only.bind="true">
			</au-multiline>
		</td>
	</tr>
</template>