<!-- <template>
    <tr>
        <td>
            <au-textbox value.bind="data.Color" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.DesignColor" read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.Unit.Code" read-only.bind="true" text.bind="unitView">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.Quantity" read-only.bind="true">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.Uom.Unit" read-only.bind="true" text.bind="uomView">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.Remark" read-only.bind="true">
            </au-textbox>
        </td>

    </tr>
</template> -->