<template >
    <tr>
        <td class="col-sm-4 bg-primary">
            <au-autocomplete
                value.bind="selectedSubconCutting"
                error.bind="error.SubconNo"
                loader.bind="subconCuttingLoader"
                text="SubconNo"
                placeholder="Nomor Subcon"
                read-only.bind="readOnly || data.Id"
                options.bind="controlOptions"
                if.bind="isSubconCutting"
                query.bind="filter">
            </au-autocomplete>

            <au-autocomplete
                value.bind="selectedSubconSewing"
                error.bind="error.SubconNo"
                loader.bind="subconSewingLoader"
                text="ServiceSubconSewingNo"
                placeholder="Nomor Subcon"
                read-only.bind="readOnly || (isEdit && data.Id)"
                options.bind="controlOptions"
                if.bind="isSubconSewing"
                query.bind="filter">
            </au-autocomplete>

            <au-autocomplete
                value.bind="selectedSubconShrinkage"
                error.bind="error.SubconNo"
                loader.bind="subconShrinkageLoader"
                text="ServiceSubconShrinkagePanelNo"
                placeholder="Nomor Subcon"
                read-only.bind="readOnly || data.Id"
                options.bind="controlOptions"
                if.bind="subconCategory=='SUBCON BB SHRINKAGE/PANEL'"
                query.bind="filter">
            </au-autocomplete>

            <au-autocomplete
                value.bind="selectedSubconFabric"
                error.bind="error.SubconNo"
                loader.bind="subconFabricLoader"
                text="ServiceSubconFabricWashNo"
                placeholder="Nomor Subcon"
                read-only.bind="readOnly || data.Id"
                options.bind="controlOptions"
                if.bind="subconCategory=='SUBCON BB FABRIC WASH/PRINT'"
                query.bind="filter">
            </au-autocomplete>
        </td>
        <td class="col-sm-4 bg-primary">
            <au-datepicker 
                value.bind="data.date"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-datepicker>
        </td>
        <td class="col-sm-3 bg-primary" if.bind="isSubconCutting">
            <au-textbox
                value.bind="data.unit"
                read-only="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-3 bg-primary" if.bind="isSubconCutting">
            <au-textbox
                value.bind="data.subconType"
                read-only="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-4 bg-primary">
            <au-numeric
                value.bind="data.Quantity"
                error.bind="error.Quantity"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        
        <td class="col-sm-3 bg-primary" if.bind="isSubconSewing">
            <au-textbox
                value.bind="data.RONo"
                read-only="readOnly|| (isEdit && data.Id)"
                options.bind="controlOptions"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-3 bg-primary" if.bind="isSubconSewing">
            <au-textbox
                value.bind="data.Article"
                read-only="true"
                options.bind="controlOptions"
                read-only="true"
                if.bind="data.Article" >
            </au-textbox>
        </td>
        <td class="col-sm-3 bg-primary" if.bind="isSubconSewing">
            <au-textbox
                value.bind="data.Buyer"
                read-only="true"
                if.bind="data.Buyer"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-3 bg-primary" if.bind="isSubconSewing">
            <au-textbox
                value.bind="data.Comodity"
                read-only="true"
                read-only.bind="true" 
                if.bind="data.Comodity"     
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td class="col-sm-4 bg-primary">
            <au-numeric
                value.bind="data.QtyPacking"
                error.bind="error.QtyPacking"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td class="col-sm-4 bg-primary" >
            <au-textbox
                value.bind="data.UomSatuanUnit"
                error.bind="error.UomSatuanUnit"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td if.bind="!readOnly" class="col-sm-1">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)" >-</button>
        </td>
        <!-- <td class="col-sm-1" if.bind="isSubconSewing">
            <div>
                <button class="btn btn-info pull-right" if.bind= "data.Details" click.delegate="toggle()">i</button>
            </div>
        </td> -->
    </tr>
    <tr if.bind="error.DetailsCount && isSubconSewing">
        <div class="form-group has-error" if.bind="error.DetailsCount">
            <p if.bind="error.DetailsCount" class="help-block text-center">${error.DetailsCount}</p>
        </div>
    </tr>
    <tr show.bind="isShowing" if.bind="isSubconSewing">
        <td colspan="4">
            <au-collection 
                items.bind="data.Details" 
                errors.bind="error.Details" 
                columns.bind="detailColumns"
                read-only.bind="readOnly || isEdit" 
                options.bind="itemOptions"
                item-template="modules/garment-subcon/garment-subcon-delivery-letter-out/template/detail-sewing" >
            </au-collection>
            <!-- <hr style="border: 5px solid #173250; border-radius: 0px 0px 5px 5px;"> -->
        </td>
    </tr>
</template>