<template>
    <tr>
        <td>
            <au-textbox value.bind="data.description" read-only.bind="true" options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="data.percentage" error.bind="error.Percentage" read-only="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric format="0.0000" value.bind="countValue" error.bind="error.Value" read-only="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
    </tr>
</template>