<template>
    <tr>
        <td show.bind="!readOnly">
            <au-checkbox 
                value.bind="data.IsSave"
                disabled.bind="readOnly" 
                change.delegate="changeCheckBox()">
            </au-checkbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.PO_SerialNumber"
                error.bind="error.PO_SerialNumber"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.Category"
                read-only="true"
                text="Name"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.Product"
                read-only="true"
                text="Code"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.Product"
                read-only="true"
                text="Composition"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.Product"
                read-only="true"
                text="Const"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.Product"
                read-only="true"
                text="Yarn"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.Product"
                read-only="true"
                text="Width"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-textbox 
                value.bind="data.ProductRemark" 
                read-only.bind="true"
                placeholder="Keterangan" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.Quantity"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.Uom"
                read-only="true"
                text="Unit"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-numeric 
                value.bind="data.BudgetPrice" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.PriceUom"
                read-only="true"
                text="Unit"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-numeric 
                value.bind="data.PriceConversion" 
                read-only="true"
                format="0,0.[00000000000000000000]"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="total" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.AvailableQuantity"
                error.bind="error.AvailableQuantity"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete
                value.bind="data.Uom"
                read-only="true"
                text="Unit"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
            <au-textbox 
                value.bind="getStatus(data.IsApprovedOpenPOMD)"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="getStatus(data.IsApprovedOpenPOPurchasing)"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="getStatus(data.IsApprovedOpenPOKadivMd)"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-textbox>
        </td>
     </tr>
</template>
