<template>
    <tr>
        <th width="12%">Line Mesin</th>
        <th width="12%">Line Mesin</th>
        <th width="12%">Nomor Mesin</th>
        <th width="12%">Nama Mesin</th>
        <th width="12%">Output (Counter)</th>
        <th width="12%">UOM</th>
        <th width="12%">Bale</th>
        <th width="12%" show.bind="Flyer">Total Delivery</th>
        <th width="12%" show.bind="Flyer">Spindle Kosong (Flyer)</th>
        <th width="12%" show.bind="Winder">Bad Cone (Winder)</th>
        <th width="12%">Eff%</th>
        <th width="5%" show.bind="!readOnly"></th>
    </tr>
</template>