<template>
    <!-- <tr>
        <td colspan="2">Nomor Transfer Request</td>
    </tr> -->
    <tr>
        <td class="col-sm-11">
            <au-autocomplete 
                value.bind="selectedTransferDeliveryOrder"
                error.bind="error.TransferDeliveryOrder"
                loader.one-time="transferDeliveryOrderLoader"
                read-only.bind="readOnly"
                query.one-time="selectedTransferDeliveryOrderFilter"
                text="DONo">
            </au-autocomplete>
        </td>
        <td class="col-sm-1">
            <button class="btn btn-info" click.delegate="toggle()">i</button> 
            <button class="btn btn-danger" click.delegate="onremove(data)" if.bind="!readOnly">-</button>
        </td>
    </tr>
    <tr show.bind="isShowing">
        <td colspan="2">
            <au-collection
                items.bind="data.TransferShippingOrderDetails" 
                errors.bind="error.TransferShippingOrderDetails"
                columns.bind="columns"
                read-only.bind="readOnly"
                remove.bind="onRemove"
                options.bind="options"
                item-template="modules/int-purchasing/transfer-shipping-order/template/transfer-shipping-order-detail">
            </au-collection>
        </td>  
    </tr>
</template>