#dragula .box {
    background-color: #173250;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 28px;
    padding: 10px;
    cursor: pointer;
    height: 100px;
    color: white;
}

#dragula .box:hover {
    background-color: #214566;
}

#dragula .btn-box {
    line-height: 80px;
    text-align: center;
    opacity: 0.75;
}