<template>
        <tr>
            <td class="text-right" style="padding-right:10%">
                Total Terpakai
            </td>
            <td class="text-right">
                <!-- <require from="../../../../../lib/number-format-value-converter"></require> -->
                 0
            </td>
            <td class="text-right" style="padding-right:10%">
                    Sisa Saldo
                </td>
                <td class="text-right">
                    <!-- <require from="../../../../../lib/number-format-value-converter"></require> -->
                    0
                </td>
        </tr>
    </template>