<template replace-part="warehousesProductionOrders">
  <tr>
    <td show.bind="false">
      <au-checkbox
        value.bind="data.IsSave"
        disabled.bind="readOnly"
        change.delegate="changeCheckBox()"
      >
      </au-checkbox>
    </td>
    <td>
      <au-autocomplete
        value.bind="selectedProductionOrder"
        error.bind="error.ProductionOrder"
        loader.bind="productionOrderLoader"
        text="OrderNo"
        read-only.bind="true"
        options.bind="controlOptions"
      >
      </au-autocomplete>
    </td>
    <td>
      <au-numeric
        value.bind="data.productionOrderOrderQuantity"
        format="0.00"
        read-only.bind="true"
        error.bind="error.productionOrderOrderQuantity"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox
        value.bind="data.productionOrderType"
        read-only.bind="true"
        error.bind="error.productionOrderType"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <!-- <td>
      <au-textbox
        value.bind="data.construction"
        read-only.bind="true"
        error.bind="error.Construction"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.unit"
        read-only.bind="true"
        error.bind="error.Unit"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.buyer"
        read-only.bind="true"
        error.bind="error.Buyer"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.color"
        read-only.bind="true"
        error.bind="error.Color"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.motif"
        read-only.bind="true"
        error.bind="error.Motif"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-numeric
        value.bind="data.packagingQty"
        read-only.bind="true"
        error.bind="error.PackagingQty"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox
        value.bind="data.packagingType"
        read-only.bind="true"
        error.bind="error.PackagingType"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.grade"
        read-only.bind="true"
        error.bind="error.Grade"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.uomUnit"
        read-only.bind="true"
        error.bind="error.UomUnit"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-numeric
        value.bind="data.balance"
        format="0.00"
        read-only.bind="true"
        error.bind="error.Balance"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td>
      <au-textbox
        value.bind="data.area"
        read-only.bind="true"
        error.bind="error.Area"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td> -->
    <td>
      <button class="btn btn-info pull-right" click.delegate="toggle()">
        i
      </button>
      <button if.bind="!options.readOnly"
                    class="btn btn-danger pull-right"
                    click.delegate="onremove(data, $event)">-</button>
    </td>
  </tr>
  <tr if.bind="isShowing">
      <!-- <td show.bind="!readOnly"></td> -->
      <td colspan="14">
          <au-collection columns.bind="itemColumns" items.bind="data.productionOrderItems" read-only.bind="readOnly"
              item-template="modules/packing-sku-inventory/dyeing-printing-in-warehouses/template/production-order-item-edit"
              header-template="modules/packing-sku-inventory/dyeing-printing-in-warehouses/template/production-order-item-header-edit">
          </au-collection>
          <!-- show.bind="isAval" -->
      </td>
  </tr>
</template>
