<template>
	<tr>
		<td>
			<au-textbox
				value.one-way="data.POSerialNumber"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.RONo"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="product"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-numeric
				value.bind="data.ReceiptQuantity"
				read-only.bind="readOnly"
				error.bind="error.ReceiptQuantity">
			</au-numeric>
		</td>
		<td>
			<au-textbox
				value.one-way="data.Uom.Unit"
				read-only="true">
			</au-textbox>
		</td>
		
        <td>
            <au-textbox 
                value.bind="data.Conversion"
				error.bind="error.Conversion"
				change.delegate="conversionChanged($event)"
                read-only.bind="readOnly"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="SmallQuantity"
                read-only.bind="true"
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-autocomplete 
                value.bind="data.SmallUom.Unit" 
                read-only.bind="true"
                options.bind="controlOptions">
            </au-autocomplete>                   
        </td>
		<td>
			<au-textbox
				value.one-way="data.Buyer.Name"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-textbox
				value.one-way="data.Article"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-multiline
				value.bind="data.Product.Remark"
				error.bind="error.ProductRemark"
				read-only.bind="true">
			</au-multiline>
		</td>
		<td>
			<au-multiline
				value.bind="data.DesignColor"
				error.bind="error.DesignColor"
				read-only.bind="readOnly">
			</au-multiline>
		</td>
		<td if.bind="!readOnly">
			<button class="btn btn-danger pull-right" click.delegate="onremove(data)">-</button>
		</td>
	</tr>
</template>