<template>
    <tr>
        <td>
            <au-autocomplete placeholder="pilih kategori divisi"
                             value.bind="data.CategoryDivision"
                             error.bind="error.CategoryDivision"
                             loader.one-time="categoryDivisionLoader"
                             text.bind="textView"
                             read-only.bind="readOnly"
                             options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td class="col-sm-1"
            if.bind="!readOnly">
            <button class="btn btn-danger pull-right"
                    click.delegate="onremove(data, $event)">-
            </button>
        </td>
    </tr>
</template>