<template replace-part="packagingProductionOrders">
    <tr>
        <td>
            <!-- <au-textbox value.bind="data.productionOrder.no" read-only.bind="true" error.bind="error.productionOrder.no"
                options.bind="controlOptions">
            </au-textbox> -->
            <au-autocomplete value.bind="selectedProductionOrder" error.bind="error.ProductionOrder"
                
                 text="productionOrderNo" read-only.bind="false"
                loader.bind="productionOrderList"
                options.bind="controlOptions">
            </au-autocomplete>
        </td>
        <td>
                <au-numeric value.bind="data.qtyOrder" format="0.00" read-only.bind="true" error.bind="error.QtyOrder"
                    options.bind="controlOptions">
                </au-numeric>
            </td>
        <td>
            <au-textbox value.bind="data.buyer" read-only.bind="true" error.bind="error.Buyer"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.unit" read-only.bind="true" error.bind="error.Unit"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.construction" read-only.bind="true" error.bind="error.Material"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.color" read-only.bind="true" error.bind="error.Color"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.motif" read-only.bind="true" error.bind="error.Motif"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.grade" read-only.bind="true" error.bind="error.Grade"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.uomUnit" read-only.bind="true" error.bind="error.UomUnit"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
                <au-numeric value.bind="data.balance" format="0.00" read-only.bind="true" error.bind="error.Balance"
                    options.bind="controlOptions">
                </au-numeric>
            </td>
        <td if.bind="!options.readOnly">
                <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
            </td>
    </tr>
</template>