<template>
  <tr>
    <th>
      <label>PRNo</label>
    </th>
    <th >
      <label>Unit</label>
    </th>
    <th >
      <label>Kategori</label>
    </th>
    <th>
      <label>Barang</label>
    </th>
    <th>
      <label>Jumlah Dipesan</label>
    </th>
    <th>
      <label>Satuan</label>
    </th>
    <th>
      <label>Jumlah Dibayar</label>
    </th>
    <th>
      <label>Harga Satuan</label>
    </th>
    <th>
      <label>Harga Total</label>
    </th>
    <th>
      <label>Harga Dibayar</label>
    </th>
  </tr>
  
</template>
