<template>
    <ai-dialog style="width:150%">

        <ai-dialog-body>
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-danger" role="alert">
                        <div class="row vertical-align">
                            <div class="col-xs-1 text-center">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                            </div>
                            <div class="col-xs-11">
                                <strong>Error:</strong> ${message}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ai-dialog-body>

        <ai-dialog-footer>
            <button click.trigger="controller.ok(message)">Ok</button>
        </ai-dialog-footer>

    </ai-dialog>

</template>