<template>
    <tr>
        
        <td if.bind="!readOnly">
            <au-checkbox value.bind="data.Check"></au-checkbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.No"
                read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-datepicker 
                value.bind="data.UPODate"
                read-only="true">
            </au-datepicker>
        </td>
        <td>
            <au-datepicker 
                value.bind="data.DueDate"
                read-only="true">
            </au-datepicker>
        </td>
        <td>
            <au-textbox
                value.bind="data.InvoiceNo"
                read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.SupplierName"
                read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.CategoryName"
                read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.DivisionName"
                read-only="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox
                value.bind="data.IncomeTaxName"
                read-only="true">
            </au-textbox>
        </td>
        <td>
            <require from="../../../../lib/number-format-value-converter.js"></require>
            <au-numeric
                value.bind="data.IncomeTaxRate | numberFormat: '0,000.0000'"
                read-only="true">
            </au-numeric>
        </td>
        <td>
            <require from="../../../../lib/number-format-value-converter.js"></require>
            <au-numeric
                value.bind="data.IncomeTax | numberFormat: '0,000.0000'"
                read-only="true">
            </au-numeric>
        </td>
        <td>
            <require from="../../../../lib/number-format-value-converter.js"></require>
            <au-numeric
                value.bind="data.Vat | numberFormat: '0,000.0000'"
                read-only="true">
            </au-numeric>
        </td>
        <td>
            <require from="../../../../lib/number-format-value-converter.js"></require>
            <au-numeric
                value.bind="data.TotalPaid | numberFormat: '0,000.0000'"
                read-only="true">
            </au-numeric>
        </td>
        <td>
            <au-textbox
                value.bind="data.Currency"
                read-only="true">
            </au-textbox>
        </td>
        <td>
            <button class="btn btn-info" click.delegate="toggle()">i</button>
        </td>
    </tr>
    <tr show.bind="isShowing">
        <td colspan="12">
            <au-collection
                items.bind="data.Items" 
                columns.bind="columns"
                item-template="modules/expedition/pph-bank-expenditure-note/templates/detail">
            </au-collection>
        </td>  
    </tr>
</template>