<template>
  <tr>
    <!-- <require from="../../../../lib/number-format-value-converter"></require> -->
    <td>
      <au-datepicker
        value.bind="data.DateDetail"
        error.bind="error.DateDetail"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-datepicker>
    </td>
    <td>
      <au-textbox
        value.bind="data.Remark"
        error.bind="error.Remark"
        placeholder="Keterangan"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-textbox
        value.bind="data.BLAWBNumber"
        error.bind="error.BLAWBNumber"
        placeholder="No. BL / AWB"
        read-only.bind="readOnly"
        options.bind="controlOptions"
      >
      </au-textbox>
    </td>
    <td>
      <au-numeric
        value.bind="selectedAmount"
        read-only.bind="readOnly"
        error.bind="error.Amount"
        format="0,0.00"
        options.bind="controlOptions"
      >
      </au-numeric>
    </td>
    <td style="text-align: center">
      <au-checkbox
        value.bind="selectedVat"
        error.bind="error.IsGetPPn"
        read-only.bind="readOnly"
        options.bind="controlOptions"
        checked.bind="IsGetPPn"
      >
      </au-checkbox>

      <br />

      <div if.bind="selectedVat">
        <au-numeric
          error.bind="error.PPnAmount"
          value.bind="selectedVatManually"
          read-only.bind="readOnly"
          format="0,0.00"
          options.bind="controlOptions"
        >
        </au-numeric>
      </div>
    </td>

    <td style="text-align: center">
      <au-checkbox
        value.bind="selectedPPh"
        error.bind="error.IsGetPPh"
        read-only.bind="readOnly"
        options.bind="controlOptions"
        checked.bind="IsGetPPh"
      >
      </au-checkbox>

      <br />

      <div if.bind="selectedPPh">
        <!-- <au-autocomplete
          value.bind="selectedIncomeTax"
          error.bind="error.IncomeTax"
          loader.bind="incomeTaxLoader"
          text.bind="incomeTaxView"
          placeholder="cari pph"
          read-only.bind="readOnly"
          options.bind="controlOptions"
        > -->
        </au-autocomplete>
        <au-numeric
          error.bind="error.PPhAmount"
          value.bind="selectedPPhManually"
          read-only.bind="readOnly"
          format="0,0.00"
          options.bind="controlOptions"
        >
        </au-numeric>

        <br />

        <!-- <numeric
          label="Rate"
          value.bind="selectedIncomeTax.rate"
          error.bind="error.incomeTaxRate"
          format="0"
          read-only.bind="true"
          post-fix="%"
          options.bind="controlOptions"
        >
        </numeric> -->

        <au-textbox value.bind="'Ditanggung Oleh:'" read-only.bind="true">
        </au-textbox>

        <br />

        <au-dropdown
          items.bind="IncomeTaxByOptions"
          value.bind="selectedIncomeTaxBy"
          error.bind="error.IncomeTaxBy"
          read-only.bind="readOnly"
          options.bind="controlOptions"
        >
        </au-dropdown>
      </div>
    </td>
    <td>
      <!-- <au-numeric value.bind="Total" read-only.bind="true" format="0,0.000" options.bind="controlOptions">
            </au-numeric> -->
      <au-numeric
        value.bind="data.Total"
        read-only.bind="true"
        format="0,0.00"
        options.bind="controlOptions"
      >
      </au-numeric>
      <!-- <au-textbox value.bind="vbRequestTotalCalc" read-only.bind="true" show.bind="false" format="0,0.000"
                options.bind="controlOptions">
            </au-textbox> -->
      <!-- ${vbRequestTotalCalc} -->
    </td>
    <td class="col-sm-1" if.bind="!readOnly">
      <button
        class="btn btn-danger pull-right"
        click.delegate="onremove(data, $event)"
      >
        -
      </button>
    </td>
  </tr>
</template>
