<template replace-part="PackingListItem">
    <tr>
            <td>
                    <au-dropdown value.bind="data.packagingType" items.bind="packType" read-only.bind="readOnly" error.bind="error.PackagingType"
                        options.bind="controlOptions">
                    </au-dropdown>
                </td>
                <td>
                        <au-numeric value.bind="inputPackagingQTY" format="0.00" read-only.bind="readOnly" error.bind="error.PackagingQty" change.delegate="inputPackagingQTYChanged"
                            options.bind="controlOptions">
                        </au-numeric>
                    </td>
                    <td>
                            <au-dropdown value.bind="data.packagingUnit" items.bind="packUnit" read-only.bind="readOnly" error.bind="error.PackagingUnit"
                                options.bind="controlOptions">
                            </au-dropdown>
                        </td>
                        <td>
                                <au-numeric value.bind="saldoPerPackaging" format="0.00" read-only.bind="readOnly" error.bind="error.SaldoPerPackaging" change.delegate="saldoPerPackagingChanged"
                                    options.bind="controlOptions">
                                </au-numeric>
                            </td>
                            <td>
                                    <au-textbox value.bind="data.keterangan" read-only.bind="readOnly" error.bind="error.Keterangan"
                                        options.bind="controlOptions">
                                    </au-textbox>
                            </td> 
                                    <td if.bind="!options.readOnly">
            <button class="btn btn-danger pull-right" click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>