<template>
    <tr>
        <td>
            <au-autocomplete value.bind="selectedProductionOrder" error.bind="error.ProductionOrder"
                loader.bind="productionOrderDistinct" text.bind="sppTextFormater" read-only.bind="readOnly"
                options.bind="controlOptions" change.deleagate="selectedProductionOrderChanged">
            </au-autocomplete>
        </td>
        <td>
            <au-textbox value.bind="data.productionOrder.orderQuantity" read-only.bind="true"
                error.bind="error.ProductionOrder" options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.material" read-only.bind="true" error.bind="error.Material"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.unit" read-only.bind="true" error.bind="error.Unit"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.buyer" read-only.bind="true" error.bind="error.Buyer"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.color" read-only.bind="true" error.bind="error.Color"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.motif" read-only.bind="true" error.bind="error.Motif"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.packingType" read-only.bind="true" error.bind="error.PackingType"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.grade" read-only.bind="true" error.bind="error.Grade"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="selectedPackagingQTY" read-only.bind="readOnly" error.bind="error.PackagingQty"
                options.bind="controlOptions" change.delegate="selectedPackagingQTYChanged">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.packingUnit" read-only.bind="true" error.bind="error.PackingUnit"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.uomUnit" read-only.bind="true" error.bind="error.UomUnit"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric value.bind="selectedAtQty" read-only.bind="readOnly" error.bind="error.AtQty"
                options.bind="controlOptions" change.delegate="selectedAtQtyChanged">
            </au-numeric>
        </td>
        <td show.bind="!readOnly">
            <au-numeric value.bind="data.balanceRemains" format="0.00" read-only.bind="true"
                error.bind="error.BalanceRemains" options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox value.bind="data.balance" read-only.bind="true" error.bind="error.Balance"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox value.bind="data.noDocument" read-only.bind="readOnly" error.bind="error.NoDocument"
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td if.bind="!options.readOnly">
            <button if.bind="!options.readOnly" class="btn btn-danger pull-right"
                click.delegate="onremove(data, $event)">-</button>
        </td>
    </tr>
</template>