<template>
    <tr>
        <td class="col-sm-3">
            <au-autocomplete 
                value.bind="selectedEPO"
                error.bind="error.Epo"
                loader.one-time="epoLoader"
                read-only.bind="(readOnly || isEdit)"
                query.bind="filter"
                text.bind="epoView">
            </au-autocomplete>
        </td>
        <td class="col-sm-2">
            <au-checkbox 
                value.bind="data.IsUseVat"
                show.bind="selectedEPO"
                read-only="true"
                error.bind="error.incomeTax">
            </au-checkbox>
        </td>
        <td class="col-sm-2">
            <au-numeric 
                value.bind="vatValue"
                show.bind="selectedEPO"
                read-only="true"
                error.bind="error.incomeTax">
            </au-numeric>
        </td>
        <td class="col-sm-2">
            <au-checkbox 
                value.bind="data.IsUseIncomeTax"
                show.bind="selectedEPO"
                read-only="true"
                error.bind="error.incomeTax">
            </au-checkbox>
        </td>
        <td class="col-sm-2">
            <au-textbox 
                value.bind="incomeTax"
                show.bind="selectedEPO"
                read-only="true"
                error.bind="error.incomeTax">
            </au-textbox>
        </td>
        <td class="col-sm-2" if.bind ="false">
            <au-numeric 
                value.bind="dppValue"
                show.bind="selectedEPO"
                read-only="true"
                error.bind="error.dppValue">
            </au-numeric>
        </td>
        <td class="col-sm-2">
            <au-numeric 
                value.bind="incomeTaxValue"
                show.bind="selectedEPO"
                read-only="true"
                error.bind="error.incomeTax">
            </au-numeric>
        </td>

        <td class="col-sm-2">
            <au-numeric 
                value.bind="data.DispositionAmountCreated"
                show.bind="selectedEPO"
                read-only="true"
                error.bind="error.DispositionAmountCreated">
            </au-numeric>
        </td>

        <!-- <td class="col-sm-2">
            <au-numeric 
                value.bind="data.DispositionAmountPaid"
                show.bind="selectedEPO"
                read-only="true"
                error.bind="error.DispositionAmountCreated">
            </au-numeric>
        </td> -->
        <td class="col-sm-1">
            <button class="btn btn-info" click.delegate="toggle()">i</button> 
        </td>
        <td class="col-sm-1" show.bind="!readOnly">
            <button class="btn btn-danger" click.delegate="onremove(data)" if.bind="!readOnly">-</button>
        </td>
    </tr>
    <tr show.bind="isShowing">
        <td colspan="9">
            <au-collection 
                items.bind="data.Details" 
                errors.bind="error.Details"
                columns.bind="itemsColumns.columns"
                remove.bind="removeDetails"
                options.bind="context"
                read-only.bind="options.readOnly"
                change.delegate="detailChanged($event)"
                item-template="modules/garment-purchasing/purchasing-disposition/template/detail">
            </au-collection>
            
        </td>  
    </tr>
</template>
