<template>
    <tr>
        <td>
			<au-textbox
				value.bind="data.PRNo"
				read-only="true">
			</au-textbox>
		</td>
        <td>
            <au-textbox 
                value.bind="data.Unit.name"
                read-only="true">
            </au-textbox>
        </td>
		<!--<td>
			<au-textbox
				value.bind="data.Category.name"
				read-only="true">
			</au-textbox>
		</td>-->
		<td>
			<au-textbox
				value.bind="dataProduct"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-numeric
				value.bind="data.DealQuantity"
				read-only.bind="true"
				format = "0,0.00">
			</au-numeric>
		</td>
		<td>
			<au-textbox
				value.one-way="data.DealUom.unit"
				read-only="true">
			</au-textbox>
		</td>
		<td>
			<au-numeric
				value.bind="data.PriceTotal"
				read-only.bind="true"
				format = "0,0.0000">
			</au-numeric>
		</td>
		<td>
			<au-numeric
				value.bind="data.PaidQuantity"
				read-only.bind="readOnly"
				error.bind="error.PaidQuantity"
				change.delegate="paidQtyChanged($event)"
				format = "0,0.00">
			</au-numeric>
		</td>
		<td>
			<au-numeric
				value.bind="data.PricePerDealUnit"
				read-only.bind="true"
				format = "0,0.00">
			</au-numeric>
		</td>
		<td>
			<au-numeric
				value.bind="data.PaidPrice"
				read-only.bind="readOnly"
				error.bind="error.PaidPrice"
				change.delegate="paidChanged($event)"
				format = "0,0.0000">
			</au-numeric>
		</td>
        
		<td if.bind="!readOnly">
			<button class="btn btn-danger pull-right" click.delegate="onremove(data)">-</button>
		</td>
    </tr>
</template>
