<template>
    <tr>
        <td class="col-md-3">
            <au-textbox value.bind="data.FOB_Price" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-3">
            <au-textbox value.bind="data.CMT_Price" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-3">
            <au-textbox value.bind="data.CNF_Price" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
        <td class="col-md-3">
            <au-textbox value.bind="data.CIF_Price" options.bind="controlOptions" read-only.bind="readOnly"></au-textbox>
        </td>
    </tr>
</template>