<template>
  <tr>
    <th>
      <label>No Ro</label>
    </th>
    <th>
      <label>PO Internal</label>
    </th>
    <th>
      <label>Barang</label>
    </th>
    <th>
      <label>Unit</label>
    </th>
    <th>
      <label>QTY Dipesan</label>
    </th>
    <th>
      <label>Satuan</label>
    </th>
    <th>
      <label>QTY Sisa</label>
    </th>
    <th>
      <label>Harga Satuan</label>
    </th>
    <th>
      <label>Harga Total</label>
    </th>
    <th>
      <label>QTY Dibayar</label>
    </th>
    <th>
      <label>Harga Dibayar</label>
    </th>
    <th>
      <label>% Over QTY</label>
    </th>
  </tr>
  
</template>
