<template>
    <tr>
        <td if.bind="options.isCreate" >
            <au-checkbox 
                value.bind="data.IsSave" 
                if.bind="options.isCreate"
                options.bind="controlOptions">
            </au-checkbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.Product.Code"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.DesignColor"
                read-only.bind="true">
            </au-textbox>
        </td>
        <td align='center'>
            <au-textbox 
                value.bind="data.Quantity" 
                read-only.bind="readOnly || options.isView"
                error.bind="error.Quantity">
            </au-textbox>
        </td>
        <td align='center'>
            <au-textbox 
                value.bind="data.Uom.Unit" 
                read-only.bind="true">
            </au-textbox>
        </td>
     </tr>
</template>

