<template >
    <tr>
        <td>
            <au-textbox 
                value.bind="data.ProductName" 
                placeholder="tambah nama barang"
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox> 
        </td>
        <td>
            <au-textbox 
                value.bind="getDesign"
                read-only="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.ColorWay" 
                read-only="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-textbox 
                value.bind="data.Remark" 
                error.bind="error.Remark"
                placeholder="tambah keterangan retur"
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.ReturnQuantity" 
                error.bind="error.ReturnQuantity"
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-textbox 
                value.bind="data.UOM" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-textbox>
        </td>
        <td>
            <au-numeric 
                value.bind="data.Length" 
                error.bind="error.Length"
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="getTotLength" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="data.Weight" 
                error.bind="error.Weight"
                read-only.bind="options.readOnly" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
        <td>
            <au-numeric 
                value.bind="getTotWeight" 
                read-only.bind="true" 
                options.bind="controlOptions">
            </au-numeric>
        </td>
    </tr>
</template>