<template>
    <tr>
        <td >
            <div class="col-sm-11">
                <au-autocomplete 
                    value.bind="selectedPurchaseOrderExternal"
                    error.bind="error.purchaseOrderExternal"
                    loader.bind="purchaseOrderExternalLoader"
                    text.bind="purchaseOrderExternalView"
                    placeholder="cari nomor purchase order external" 
                    key="no"
                    query.bind="filter"
                    read-only.bind="options.readOnly || isEdit"
                    options.bind="controlOptions">
                </au-autocomplete>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-danger pull-left" click.delegate="onremove(data, $event)" if.bind="!options.readOnly">-</button>            
                <button class="btn btn-info pull-right" if.bind= "data.fulfillments" click.delegate="toggle()">i</button>
            </div>
        </td>
    </tr>
    <tr show.bind="isShowing">
        <td>
            <div if.bind="error.fulfillmentscount" class="form-group has-error"><span class="text-danger help-block">${error.fulfillmentscount}</span></div>
            <au-collection 
                items.bind="data.fulfillments" 
                errors.bind="error.fulfillments"
                columns.bind="itemsColumns" 
                remove.bind="removeItems"
                options.bind="context.context.options"
                read-only.bind="options.readOnly"
                header-template="modules/garment-purchasing/delivery-order/template/delivery-order-fulfillment-header"
                item-template="modules/garment-purchasing/delivery-order/template/delivery-order-fulfillment">
            </au-collection>
        </td>  
    </tr>
</template>
