<template>
  <tr>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.Period" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.OrderNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-textbox value.bind="data.ConstructionNumber" read-only.bind="true">
      </au-textbox>
    </td>
    <td style="white-space: nowrap">
      <au-numeric value.bind="data.TotalGram" read-only.bind="true">
      </au-numeric>
    </td>
    <td style="white-space: nowrap">
      <au-numeric value.bind="data.TotalOrder" read-only.bind="true">
      </au-numeric>
    </td>

    <td style="white-space: nowrap">
      <au-numeric
        value.bind="data.GradeA"
        read-only.bind="readOnly"
        error.bind="error.GradeA"
      >
      </au-numeric>
    </td>
    <td style="white-space: nowrap">
      <au-numeric
        value.bind="data.GradeB"
        read-only.bind="readOnly"
        error.bind="error.GradeB"
      >
      </au-numeric>
    </td>
    <td style="white-space: nowrap">
      <au-numeric
        value.bind="data.GradeC"
        read-only.bind="readOnly"
        error.bind="error.GradeC"
      >
      </au-numeric>
    </td>
    <td style="white-space: nowrap">
      <au-numeric
        value.bind="data.GradeD"
        read-only.bind="readOnly"
        error.bind="error.GradeD"
      >
      </au-numeric>
    </td>
  </tr>
</template>
