<template>
  <tr>
    <th rowspan="2">
      <label>Barang</label>
    </th>
    <th colspan="2">
      <label>Default</label>
    </th>
    <th colspan="2">
      <label>Deal</label>
    </th>
    <th rowspan="2">
      <label>Konversi</label>
    </th>
    <th rowspan="2">
      <label>Harga</label>
    </th>
    <th rowspan="2">
      <label>Grade</label>
    </th>
    <th rowspan="2">
      <label>Keterangan</label>
    </th>
  </tr>
  <tr>
    <th>
      <label>Jumlah</label>
    </th>
    <th>
      <label>Satuan</label>
    </th>
    <th>
      <label>Jumlah</label>
    </th>
    <th>
      <label>Satuan</label>
    </th>
  </tr>
</template>
