<template>
    <tr>
        <td class="col-sm-2">
            <au-textbox
                value.bind="dataProduct"
                read-only="true" />
        </td>
        <td class="col-sm-1">
            <au-numeric
                value.bind="data.DefaultQuantity"
                read-only="true" />
        </td>
        <td class="col-sm-1">
            <au-textbox
                value.bind="data.DefaultUom.unit"
                read-only="true" />
        </td>
        <td class="col-sm-1">
            <au-numeric
                value.bind="dataDealQuantity"
                error.bind="error.DealQuantity"
                read-only.bind="readOnly" />
        </td>
        <td class="col-sm-1">
            <au-autocomplete
                value.bind="data.DealUom"
                error.bind="error.DealUom"
                loader.one-time="uomLoader"
                text="unit"
                read-only.bind="readOnly" />
        </td>
        <td class="col-sm-1">
            <au-numeric
                value.bind="data.Convertion"
                error.bind="error.Convertion"
                read-only.bind="readOnly" />
        </td>
        <td class="col-sm-1">
            <au-numeric
                value.bind="data.Price"
                error.bind="error.Price"
                read-only.bind="readOnly" />
        </td>

        <td class="col-sm-1">
            <au-dropdown
                items.bind="gradeItems"
                value.bind="data.Grade"
                error.bind="error.Grade"
                read-only.bind="readOnly" />
        </td>
        <td class="col-sm-3">
            <au-multiline
                value.bind="data.ProductRemark"
                read-only.bind="readOnly"
                options.bind="controlOptions" />
        </td>
    </tr>
</template>